<header id="header" class="alt">
  <h1><a href="index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/speaking.html">Speaking</a></li>
            <li><a href="/archive.html">Archive</a></li>
            <!-- <li><a href="/elements.html">Elements</a></li> -->
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
